body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
	color: #333;
}

h1 {
	text-align: center;
	color: #2c3e50;
}

a {
	text-decoration: none;
	color: #2980b9;
}

a:hover {
	text-decoration: underline;
}

.article-div {
	display: block;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 15px;
	margin-bottom: 20px;
	transition: transform 0.2s;
}

.article-div:hover {
	transform: scale(1.02);
}

h2 {
	margin: 0 0 10px;
	font-size: 24px;
	color: #34495e;
}

p {
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 1.5;
}

small {
	display: block;
	font-size: 12px;
	color: #7f8c8d;
}

.button {
	border: #2980b9;
	padding: 15px 30px;
	border-radius: 15px;
	background-color: #7f8c8d;
}

/* Responsive Design */
@media (max-width: 600px) {
	body {
		padding: 10px;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
	}
}
