<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Article</title>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<h1>New Article</h1>

		<div>
			<a href="/">Home</a>
			<a href="/dashboard">Dashboard</a>
		</div>

		<form action="/add" method="post">
			<label for="title">Article Title</label>
			<input type="text" name="title" id="title" />
			<label for="content">Content</label>
			<textarea name="content" id="content"></textarea>
			<button type="submit" class="button">Publish</button>
		</form>
	</body>
</html>
